.CardBody {
  padding: 15px;
  background-color:#fff;
  width:100%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  border: 2px blue;
  border-style: solid;
}

.CardBody-Content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}